#productsListBtn {
	
}

.single-product {
	-fx-background-color: white;
}
.single-product:hover{
	-fx-border-color: rgba(102, 153, 204, 1);
}



.app-btn {
	-fx-background-color: rgba(102, 153, 204, 1);
}

	.app-btn:hover{
		-fx-background-color: rgba(102, 153, 204, 0.75);
	}
	
.multi-purpose-btn {
	-fx-background-color: rgba(0,0,0,0);
	-fx-content-display: none;
}
	
.multi-purpose-btn-buy {
	-fx-background-color: green
}
	.multi-purpose-btn-buy:hover {
		-fx-background-color: rgba(0, 128, 0, 0.75);
	}

.multi-purpose-btn-return {
	-fx-background-color: pink;
}

	.multi-purpose-btn-return:hover {
		-fx-background-color: rgba(255, 192, 203,0.75);
	}

.quit-btn{
	-fx-background-color: rgba(185,0,20,1);
}

	.quit-btn:hover{
		-fx-background-color:  rgba(185,0,20,0.75);
	}	
	

